/**
{
	border: 1px solid red;
}*/
body
{
	margin: 4%;
	background-color: #b3b3b3;
}
h1
{
	font-size: 150%;
	color: #FFFFFF;
}
header
{
	text-align: center;
	background-color: #666666;
	padding: 15px;

}
nav
{

	font-size: 150%;
	font-variant: small-caps;
	font-family: Arial, "Time Nee Roman", serif;
}
section
{
	display: inline-block;
	width: 31%;
	float: left;
	margin-right: 10px;
	margin-bottom: 15px;
}
h2
{
	color: #666666;
	background: #00B7ea;
}
details
{
	font-style: italic;
}
summary
{
	font-style: normal;
}
footer
{
	background: #666666;
	clear: both;
	padding: 15px;
}
img
{
	width: 75px;
}