*
{
	border: 1px solid green;
}
body
{
	margin: 4%;
	background-color: #b3b3b3;
}
h1
{
	font-size: 150%;
	color: #FFFFFF;
}
header
{
	text-align: center;
	background-color: #666666;
	padding: 15px;
	border-radius: 15px;
	

}
nav
{

	font-size: 150%;
	font-variant: small-caps;
	font-family: Arial, "Time Nee Roman", serif;
}
nav a
{
	text-decoration: none;
	display: inline-block;
	width: 22%;
	background-color: #FFFFFF;
}

.half
{
	display: inline-block;
	width: 45%;
	float: left;
	margin-right: 10px;
	margin-bottom: 15px;

}
.r_half
{
	clear: both;
}
h2
{
	color: #666666;
	background: #00B7ea;
	border-radius: 5px;
	transition-property: color, width, background, 
	border-radius;
	transition-duration: 5s;
	transition-timing-function: linear;
	transition-delay: 5s;
}
h2:hover
{
	color: #FFFFFF;

}
details
{
	font-style: italic;
}
summary
{
	font-style: normal;
}
footer
{
	background: #666666;
	clear: both;
	padding: 15px;
	border-radius: 15px;
}
img
{
	width: 75px;

}
h2
{
	color: #666666;
	background: #00B7ea;
	border-radius: 5px;
	transition-property: color, width, background, 
	border-radius;
	transition-duration: .1s;
	transition-timing-function: linear;
	transition-delay: .1s;
}
h2:hover
{
	color: #FFFFFF;
	background: #2d31b3;
	width: 350px;
	border-radius: 50%
	
}